/*  */

* {padding:0;margin:0;}

html {}

body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

strong {color:#363636;font-weight:700;}
a {color:inherit;text-decoration:none;}
a:hover {color:inherit;text-decoration:none;}
li {list-style:none;}
label {margin-bottom:0;}

.hidden {display:none;}
.btn-outline-secondary:focus {box-shadow:none;}

/* Start */
header .navbar-brand {padding:0;height:32px;}
header .navbar-brand span {font-size:32px;}
header ul.contacts {position:absolute;right:16px;top:8px;line-height:40px;}
header ul.contacts li {float:left;}
header ul.contacts li {line-height:40px;text-align:center;width:40px;height:40px;margin:0 2px;border-radius:50%;border:1px solid #d9d9d9;}
header ul.contacts li a svg {display:inline-block;width:16px;height:16px;margin:0 3px 3px;}
header ul.contacts li a svg {fill:#222;}
header ul.contacts li a:hover svg {fill:#5d93ff;}
header ul.contacts li span {margin-top:8px;}
header ul.contacts li a:hover span {color:#5d93ff;}

@media(max-width:768px) {
  header ul.contacts {display:none;}
}

.main-wrap {margin-top:56px;}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 24px;
  width: 24px;
}

.svgicon {
  width: 24px;
  height: 24px;
}

.svgicon16 {
  width: 16px;
  height: 16px;
}

.aceEditorBorder {
  border: 1px solid #4a4a4a;
}

.aceEditorMenu {
  width: 100%;
  height: 35px;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background-color: #727272;
  border-bottom: 1px solid #727272;
}

.aceEditorMenuLabel {
  padding-left: .5rem;
  vertical-align: middle;
}

.aceEditorMenu a {
  margin: 0 6px;
  padding-top: 7px;
  color: #f5f5f5;
}

.editortoolbar {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 14px;
  float: right;
  height: 35px;
}

a.copytext:before {
	content: "Copied!";
	position: absolute;
	top: -40px;
	background: black;
	padding: 6px 8px;
	border-radius: 10px;
	display: none;
}

a.copytext:after {
	content: "";
	position: absolute;
	top: -13px;
	width: 10px;
	height: 10px;
	background: black;
	transform: rotate(45deg);
	display: none;
}

a.copytext.active:before,
a.copytext.active:after {
	display: block;
}

.twoEditor {
  height: 60vh;
  width: 100%;
}

.ace_editor {
  position: relative;
  overflow: hidden;
  padding: 0;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  direction: ltr;
  text-align: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.columns {display:flex;}
.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

footer {text-align:center;font-size:14px;padding:8px 0;border-top:1px solid rgb(230,230,230);}
footer .wrap {max-width:1024px;margin:0 auto;}
footer p {margin-bottom:0;}

._404 {margin:0 auto;height:100%;max-width:800px;}
._404 section {padding:48px 8px;text-align:center;}
._404 section h1 {font-size:2em;margin:0.67em 0px;}
._404 section p {}