/* Base */
* {padding:0;margin:0;}

html {}

body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

strong {color:#363636;font-weight:700;}
a {color:inherit;text-decoration:none;}
a:hover {color:inherit;text-decoration:none;}
li {list-style:none;}
label {margin-bottom:0;}

/* Base class or bootstrap modify */
.hidden {display:none;}
.btn-outline-secondary:focus {box-shadow:none;}

/* App */
header .navbar-brand {padding:0;height:32px;}
header .navbar-brand span {font-size:32px;}
header ul.contacts {position:absolute;right:16px;top:8px;line-height:40px;}
header ul.contacts li {float:left;}
header ul.contacts li {line-height:40px;text-align:center;width:40px;height:40px;margin:0 2px;border-radius:50%;border:1px solid #d9d9d9;}
header ul.contacts li a svg {display:inline-block;width:16px;height:16px;margin:0 3px 3px;}
header ul.contacts li a svg {fill:#222;}
header ul.contacts li a:hover svg {fill:#5d93ff;}
header ul.contacts li span {margin-top:8px;}
header ul.contacts li a:hover span {color:#5d93ff;}

@media(max-width:768px) {
  header ul.contacts {display:none;}
}

.container-total {margin-top:56px;}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 24px;
  width: 24px;
}

.svgicon {
  width: 24px;
  height: 24px;
}

.svgicon16 {
  width: 16px;
  height: 16px;
}

.aceEditorBorder, .editorBorder {
  border: 1px solid #4a4a4a;
}

.aceEditorMenu, .editorMenu {
  width: 100%;
  height: 35px;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background-color: #727272;
  border-bottom: 1px solid #727272;
}

.aceEditorMenuLabel, .editorMenuLabel {
  padding-left: .5rem;
  vertical-align: middle;
}

.aceEditorMenu a, .editorMenu a {
  margin: 0 6px;
  padding-top: 7px;
  color: #f5f5f5;
}

.editortoolbar {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 14px;
  float: right;
  height: 35px;
}

a.copytext:before {
	content: "Copied!";
	position: absolute;
	top: -40px;
	background: black;
	padding: 6px 8px;
	border-radius: 10px;
	display: none;
}

a.copytext:after {
	content: "";
	position: absolute;
	top: -13px;
	width: 10px;
	height: 10px;
	background: black;
	transform: rotate(45deg);
	display: none;
}

a.copytext.active:before,
a.copytext.active:after {
	display: block;
}

.twoEditor {
  height: 60vh;
  width: 100%;
}

.ace_editor {
  position: relative;
  overflow: hidden;
  padding: 0;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  direction: ltr;
  text-align: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.columns {display:flex;}
.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.textarea textarea {width:100%;height:100%;border:0;resize:none;padding:5px;font-size:14px;}

footer {text-align:center;font-size:14px;padding:8px 0;border-top:1px solid rgb(230,230,230);}
footer .wrap {max-width:1024px;margin:0 auto;}
footer p {margin-bottom:0;}

._404 {margin:0 auto;height:100%;max-width:800px;}
._404 section {padding:48px 8px;text-align:center;}
._404 section h1 {font-size:2em;margin:0.67em 0px;}
._404 section p {}

/* Html Beautify Options */
.beautify.html select, .beautify.html .buttons-box button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 1.5em;
  padding: 0.5em;
  margin: 0 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.beautify.html select {
  display: block;
}

.beautify.html .options-checkboxes, .beautify.html .options-select {
  display: inline-table;
  max-width: 100%;
}

.beautify.html input[type="checkbox"] {margin-right:5px;}

/* Html Minify Options */
.minify.html .quiet { font-size: 0.85em; color: #888; }
.minify.html .short { display: inline-block; width: 20em; margin-top: 0.25em; }
.minify.html .unsafe { color: #f33; }

.minify.html #options ul {list-style:none;padding:0.5em;overflow:hidden;margin-top:0;}
.minify.html #options ul li {float:left;clear:both;padding-bottom:0.5em;}
.minify.html #options ul li div {margin-left:1.75em;}
.minify.html #options label, .minify.html #options input {float:left;}
.minify.html #options label {line-height:18px;}
.minify.html #options label.sub-option {margin-left:22px;margin-right:5px}
.minify.html #options input {margin:3px 8px 3px 4px;}

/* Replace */
.replace form label {/* display:none; */width:80px;}
.replace form .form-control {display:inline-block;}
.replace form .find .input-group {display:inline-flex;padding:0;width:400px;}
.replace form button {background-color:white;}
.replace form button.active {background-color:#e9ecef;}
.replace form button.select {margin:-4px 0 0 5px;border:1px solid #ced4da;border-radius:0.25rem;}
.replace form .btn:focus {box-shadow:none;}
.replace form .replace input {width:400px;}

@media (max-width: 768px) {
  .replace form .find .input-group {width:calc(100% - 50px - 5px);}
  .replace form .replace input {width:100%;}
}